In [1]:
# Importing relevant packages and establishing the Exadata connection

import sqlalchemy
import pandas as pd
import numpy as np
import getpass

password=getpass.getpass("Enter your password:")
engine = sqlalchemy.create_engine("oracle+cx_oracle://anantk[an_ct_ws04]:%s@exa_gbtukprdd_an" %(password))

Enter your password:········

In [8]:
import datetime as dt

# Getting the model data set from Exadata 

# prods = pd.read_sql("SELECT  distinct prod_buyer_l24_desc \
#                      from prod_dim_c " , engine )

prod_trans = pd.read_sql("SELECT  distinct converted_prod_group_id as tpn, \
                             prod_group_desc , \ 
                             prod_buyer_l23_desc as category,\
                             prod_buyer_l22_desc as bcont,\
                             sum(net_spend_amt)*10 as spend,\
                             sum(item_qty)*10 as units,\
                             count(distinct transaction_fid)*10 as visits,\
                             count(distinct hshd_id)*10 as customers \                   
                         from transaction_item_fct t \
                         inner join prod_dim_c p on t.prod_id = p.prod_id \
                         inner join card_dim_c c on t.card_id = c.card_id \
                         where (date_id between '29-FEB-2016' and '31-JUL-16') and \ 
                         prod_buyer_l24_desc in ('PACKAGE D.','FRES H.','HARDLINE S.') \
                         GROUP BY GROUPING SETS ((CONVERTED_PROD_GROUP_ID,PROD_GROUP_DESC,PROD_BUYER_L23_DESC,PROD_BUYER_L22_DESC),\
                                             ())", engine )

# prods = pd.read_sql("SELECT  a.*,dense_rank()over(order by category) as cat_code FROM AK_PROD_TM_N2 a\
#                      order by match_flag desc" , engine )
# prods
# print(prods.shape())
# print(prods.describe())

SyntaxError: EOL while scanning string literal (<ipython-input-8-440e78d3bfbc>, line 8)