In [2]:
import numpy as np
import pandas as pd
import os

num_subs = 2.0
id_col = 'test_id'

In [21]:
dfs = []

df1 = pd.read_csv("xgb_stack_23.csv")
dfs.append(df1)

df2 = pd.read_csv("xgb_stack_21.csv")
dfs.append(df2)

# df3 = pd.read_csv("xg_stack_23_nn_gm.csv")
# dfs.append(df3)

# df4 = pd.read_csv("xg_stack_24_nn_gm.csv")
# dfs.append(df4)

print df1.head(10)
print df2.head(10)
# print df3.head(10)
# print df4.head(10)

   test_id  is_duplicate
0        0      0.000072
1        1      0.246326
2        2      0.144716
3        3      0.000057
4        4      0.005593
5        5      0.000107
6        6      0.995943
7        7      0.546774
8        8      0.279953
9        9      0.000095
   test_id  is_duplicate
0        0      0.000062
1        1      0.264534
2        2      0.141602
3        3      0.000046
4        4      0.005005
5        5      0.000100
6        6      0.996542
7        7      0.529329
8        8      0.290365
9        9      0.000089

In [3]:
def create_ave_df(df_list):
    sample = df_list[0]
    ave_df = pd.DataFrame(columns=sample.columns)
    ave_df[id_col] = sample[id_col]
    ave_df.fillna(0.0, inplace=True)
    return ave_df

ave_df = create_ave_df(dfs)

ave_df.head()

   test_id  is_duplicate
0        0           0.0
1        1           0.0
2        2           0.0
3        3           0.0
4        4           0.0

In [4]:

def populate_ave_df(ave_df, df_list):
    for col in ave_df.columns.values:
        if col == id_col:
            continue
        for df in df_list:
            ave_df[col] = ave_df[col] + df[col]
        ave_df[col] = ave_df[col] / num_subs
    return ave_df

ave_df = populate_ave_df(ave_df, dfs)
ave_df.head()

   test_id  is_duplicate
0        0      0.000112
1        1      0.288807
2        2      0.124652
3        3      0.000097
4        4      0.007017

In [5]:
def generate_new_submission(ave_df):
    ave_df.to_csv('avg_xgblgbm_stack.csv', index=False)
    
generate_new_submission(ave_df)

In [24]:
df1['is_duplicate'] = df1.is_duplicate*0.65 + x5.xg*0.35

df1.head(10)

# [0.25753394349810588, 0.25631472554560714, 0.25739680620719579, 0.25799331096070549, 0.25745363367392687]

   test_id  is_duplicate
0        0      0.000345
1        1      0.237124
2        2      0.145321
3        3      0.000171
4        4      0.007136
5        5      0.000628
6        6      0.997120
7        7      0.599833
8        8      0.270900
9        9      0.000360

In [26]:
df1.to_csv('xg_stack_25_wtdavg23.csv',index = False)

In [22]:
x1 = np.loadtxt("3test_stacker_nn1.gz", delimiter=",")
pd.DataFrame(x1).head(10)
# x2 = np.loadtxt("2test_stacker_lgbm1.gz", delimiter=",")

# x3 = np.loadtxt("2test_stacker_nnlight.csv", delimiter=",")

          0
0  0.000853
1  0.220033
2  0.146446
3  0.000384
4  0.010003
5  0.001596
6  0.999307
7  0.698372
8  0.254086
9  0.000852

In [23]:
# x4 = np.column_stack((x1,x2,x3))

x5 = pd.DataFrame(x1)

x5.columns = ['xg']

x5.head()

         xg
0  0.000853
1  0.220033
2  0.146446
3  0.000384
4  0.010003

In [9]:
sub = pd.DataFrame()
sub['test_id'] = df1['test_id']
sub['is_duplicate'] = (x5.xg + x5.lg + x5.nn)/3

sub.to_csv("xgb_nn_lgbm_stackaverage.csv", index=False)

In [11]:
(0.000118 + 0.000141 + 0.000896)/3

0.000385

In [10]:
sub.head()

   test_id  is_duplicate
0        0      0.000385
1        1      0.266618
2        2      0.121741
3        3      0.000134
4        4      0.007540